<!DOCTYPE html>
<html>
  <head>
    <title>List of Cows</title>
    <style>
      body {
        background-color: #eafae2;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
      }

      nav {
        background-color: #448755;
        color: #ffffff;
        padding: 10px;
      }

      .navbar-brand {
        font-size: 20px;
        font-weight: bold;
        margin-right: 20px;
        text-decoration: none;
        color: #ffffff;
      }

      .navbar-links {
        display: flex;
        justify-content: flex-end;
      }

      .navbar-links a {
        margin-left: 10px;
        color: #ffffff;
        text-decoration: none;
        padding: 6px 10px;
        border-radius: 4px;
        background-color: #ffffff;
        color: #448755;
        transition: background-color 0.3s, color 0.3s;
      }

      .navbar-links a:hover {
        background-color: #448755;
        color: #ffffff;
      }

      h1 {
        color: #448755;
        text-align: center;
        margin-top: 40px;
      }

      .cow-container {
        width: 80%;
        margin: 0 auto;
        background-color: #d7f6cd;
        border-radius: 4px;
        padding: 20px;
        margin-bottom: 20px;
      }

      .cow-container:nth-child(even) {
        background-color: #c2efb9;
      }

      .cow-number {
        font-weight: bold;
        color: #448755;
      }

      .cow-details a {
        color: #448755;
        text-decoration: none;
      }

      .delete-button {
        background-color: #448755;
        color: #ffffff;
        border: none;
        padding: 6px 10px;
        border-radius: 4px;
        transition: background-color 0.3s, color 0.3s;
      }

      .delete-button:hover {
        background-color: #366346;
        color: #ffffff;
      }

      .like-button {
        background-color: transparent;
        border: none;
        padding: 0;
        cursor: pointer;
        transition: transform 0.3s;
      }

      .heart-icon {
        width: 20px;
        height: 20px;
        background-image: url('heart-icon.png');
        background-size: cover;
      }

      .heart-icon:hover {
        transform: scale(1.2);
      }

      footer {
        background-color: #448755;
        color: #ffffff;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="#" class="navbar-brand">TU GANADO</a>
      <div class="navbar-links">
        <a href="/ganado/add">Add Cow</a>
        <a href="/user">My perfil</a>
      </div>
    </nav>

    <h1>List of Cows</h1>

    {{#each cow}}
    <div class="cow-container">
      <p><span class="cow-number">{{this.number}}</span></p>
      <p><strong>Breed:</strong> {{this.breed}}</p>
      <p><strong>Weight (kg):</strong> {{this.weight}}</p>
      <p><strong>Price ($):</strong> {{this.price}}</p>
      <p class="cow-details"><a href="/cow/{{this._id}}">Details</a></p>
      <p>
        <form onsubmit="fetch('http://localhost:3000/cow/{{this._id}}', { method: 'DELETE'})">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="delete-button">Delete</button>
        </form>
      </p>
      <p>
        <form action="/cow/like/{{this._id}}" method="POST">
          <button type="submit" class="like-button heart-icon"></button>
        </form>
      </p>
    </div>
    {{/each}}

    <footer>
      <p>Correo: lorenzorhdez@hotmail.com | Dirección: Calabozo-estado Guarico | Teléfono: 607115806</p>
      <p>DERECHOS DE PAGO BÁSICO ABRS 2023 (PAC)</p>
      <p>Ganado Vacuno | Ganadería Equina | Ganado Ovino | Fincas | Nuevas Incorporaciones</p>
    </footer>
  </body>
</html>
